<html>

<head>

<meta charset="UTF-8">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Concert+One&display=swap" rel="stylesheet"> 
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap" rel="stylesheet">
<link rel="stylesheet" href="static/css/style.css">
<link rel="shortcut icon" href="#">

</head>

<body>
    <p style="background-image: url('background.jpg');"></p>
    <div class="top">
        <center>
        <p>INVENTORY MANAGEMENT SYSTEM</p>
        </center>
    </div>

<!-- <div class="top">
    <p>INVENTORY MANAGEMENT SYSTEM</p>
    <img src="../static/images/home.jpg" class="top" alt="IMG" width="500" height="150">>
        <div class="carousel-caption d-none d-md-block">
        <p>Efficiency in inventory means the ability to quickly receive and store products as they come in and retrieve and ship when they go out. Every extra second spent in these processes adds to the costs of inventory management.</p>
</div>
             -->


<div class="login">
    <form action="/register" method="POST">
        <h2 style="text-align: center;">Register</h2>
        <div class="formerror">
            {{msg}}
            <br><br>
        </div>
        <label>Username</label>
        <input type="text" name="username" required placeholder="Enter user name">
        <br><br>
        <label>Email</label>
        <input type="text" name="email" required placeholder="Enter valid email address"></input>
        <br><br>
        <label>Password</label>
        <input type="password" name="password" required placeholder="Enter password"></input>
        <br><br>
        <center>
        <button type="submit" class="loginbtn">Register</button>
        </center>
        <br>
        <p>Already have an account? <a href="{{ url_for('register') }}">Login</a></p>
    </form>
</div>


<div class="footer">
<p style="text-align: center;">
    <p style="float: left; padding-left: 50px;">---IMS---</p>
	<p style="float: right; padding-right: 50px;">
	&copy 
    <script>
        document.write(new Date().getFullYear());
	</script>
	| All rights reserved
</p>
<br><br>
</div>

</body>

</html>
