<html>

<head>

<meta charset="UTF-8">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Concert+One&display=swap" rel="stylesheet"> 
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
<link rel="stylesheet" href="static/css/style.css">
<link rel="shortcut icon" href="#">

</head>

<body>

<div class="top">
    <p>INVENTORY MANAGEMENT SYSTEM</p>
</div>

<div class="nav">
    <a href="{{ url_for('home') }}">Suppliers</a>
    <a href="{{ url_for('inventory') }}" style="color: #ffe89d;">Inventory</a>
    <a href="{{ url_for('checkout') }}">Checkout</a>
    <a href="{{ url_for('transactions') }}">Transactions</a>
    <a href="{{ url_for('home') }}" style="float: right;">Logout</a>
</div>

<br>
<a href="{{url_for('addpro')}}" class="abtn">Add product</a>
<div class="info">Total inventory value: <span>&#8377;</span>{{total2}}</div>
<div class="info">Total products: {{total1}}</div>
<br><br><br>

<center>
    <h1 style="font-size: 32px;">INVENTORY DETAILS</H1>
    <br>
    
    <div class="msg">
    {{msg}}
    </div>
    <br>
    
    <table>
        <tr>
            <th>Product name</th>
            <th>Quantity</th>
            <th>Cost price</th>
            <th>Selling price</th>
            <th>Profit</th>
            <th>Supplier</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <tbody>
            {% for row in data[0:] %}    
            <tr>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td><span>&#8377;</span>{{row[3]}}</td>
                <td><span>&#8377;</span>{{row[4]}}</td>
                <td><span>&#8377;</span>{{row[5]}}</td>
                <td>{{row[6]}}</td>
                
                <td>
                    <a href="editproduct/{{row[0]}}">
                    <i class="fas fa-pen" style="font-size: 26px; color: rgb(48, 23, 214);"></i>
                    </a>
                </td>
                <td>
                    <form method="POST" action="{{url_for('delpro', PROID=row[0])}}" style="margin-top: 18px;">
                        <button type="submit" style="background-color: white; border: none; cursor: pointer;">
                        <i class="fas fa-trash-alt" style="font-size: 26px; color: red;"></i>
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</center>

<div class="footer">
<p style="text-align: center;">
    <p style="float: left; padding-left: 50px;">---IMS---</p>
	<p style="float: right; padding-right: 50px;">
	&copy 
    <script>
        document.write(new Date().getFullYear());
	</script>
	| All rights reserved
</p>
<br><br>
</div>
</body>

</html>

